.home
	.site-footer
		position absolute
		left 0
		right 0
		bottom 0

.site-footer
	font-size var(--font-size-xs)
	text-align center
	padding 2rem 1rem 1rem
	background linear-gradient(to top, var(--color-dark-gray) 20%, transparent)

	a
		text-decoration none

		&:hover
			text-decoration underline

.footer-navigation
	margin-bottom 1rem
	display flex
	justify-content center
	gap .725em

	& > a + a::before
		content " • "
		margin-right .725em
		display inline-block
