.site-footer
	font-size var(--font-size-xs)
	text-align center
	padding 2rem

	a
		text-decoration none

		&:hover
			text-decoration underline

.footer-navigation
	margin-bottom 1rem

.footer-navigation-wrapper
	display flex
	justify-content center
	gap .725em
	margin 0
	padding 0
	list-style none

	li + li::before
		content " • "
		margin-right .725em
		display inline-block
