.admin-bar
	.site-header
		top 32px

.site-header
	position absolute
	top 0
	left 0
	right 0
	z-index 10
	// background: rgba(0, 0, 0, .5);
	padding 1rem 2rem
	display flex
	color var(--color-white)

	a
		text-decoration none

.site-branding
	margin-right auto

.header-navigation
	display flex
	gap 2rem
