.home
	.site-header
		position absolute
		top 0
		left 0
		right 0
		z-index 10

.site-header
	// background: rgba(0, 0, 0, .5);
	padding 1rem 2rem
	display flex
	align-items center
	color var(--color-white)

	a
		text-decoration none

.site-branding
	margin-right auto
	position relative
	z-index 8

.header-navigation
	display flex
	align-items center
	gap 2rem

	@media (max-width 60rem)
		position relative
