@media (prefers-reduced-motion)
	*
		transition-delay 0s !important
		transition-duration 0s !important

body
	font 400 var(--font-size-root)/1.5 var(--font-primary)
	background var(--color-dark-gray)
	color var(--color-white)

a
	transition var(--transition)
	color inherit

img
svg
	max-width 100%
	vertical-align top

figure
	margin 0

.site
	min-height 100vh
