.picture
	position relative
	border 1px solid var(--color-white-50)

	img
		vertical-align top
		width 100%
		height auto

	&:nth-child(odd)
		.picture-title
			text-align right

.picture-description
	position absolute
	left 0
	right 0
	bottom 0
	padding 1rem

.picture-title
	margin 0
	font-weight 200
	line-height 1
