@font-face
	font-family 'Signature Collection'
	src local('Signature Collection'), url('../fonts/signature-collection/SignatureCollection.woff2') format('woff2')
	font-weight 400
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-ThinItalic'), url('fonts/gotham/Gotham-ThinItalic.woff2') format('woff2')
	font-weight 100
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Medium'), url('fonts/gotham/Gotham-Medium.woff2') format('woff2')
	font-weight 500
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-XLightItalic'), url('fonts/gotham/Gotham-XLightItalic.woff2') format('woff2')
	font-weight 300
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-BookItalic'), url('fonts/gotham/Gotham-BookItalic.woff2') format('woff2')
	font-weight normal
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-BoldItalic'), url('fonts/gotham/Gotham-BoldItalic.woff2') format('woff2')
	font-weight bold
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Black'), url('fonts/gotham/Gotham-Black.woff2') format('woff2')
	font-weight 500
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-UltraItalic'), url('fonts/gotham/Gotham-UltraItalic.woff2') format('woff2')
	font-weight 500
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Book'), url('fonts/gotham/Gotham-Book.woff2') format('woff2')
	font-weight normal
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-LightItalic'), url('fonts/gotham/Gotham-LightItalic.woff2') format('woff2')
	font-weight 300
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-XLight'), url('fonts/gotham/Gotham-XLight.woff2') format('woff2')
	font-weight 300
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Thin'), url('fonts/gotham/Gotham-Thin.woff2') format('woff2')
	font-weight 100
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-MediumItalic'), url('fonts/gotham/Gotham-MediumItalic.woff2') format('woff2')
	font-weight 500
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Bold'), url('fonts/gotham/Gotham-Bold.woff2') format('woff2')
	font-weight bold
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Light'), url('fonts/gotham/Gotham-Light.woff2') format('woff2')
	font-weight 300
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-BookItalic'), url('fonts/gotham/Gotham-BookItalic.woff2') format('woff2')
	font-weight 500
	font-style italic
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Light'), url('fonts/gotham/Gotham-Light.woff2') format('woff2')
	font-weight 300
	font-style normal
	font-display swap

@font-face
	font-family 'Gotham'
	src local('Gotham-Bold'), url('fonts/gotham/Gotham-Bold.woff2') format('woff2')
	font-weight bold
	font-style normal
	font-display swap
